h1{
  padding: 0.5em;
  color: #010101;
  background: #cdfdd4;
  border-bottom: solid 3px #15a846;
}
h1:before {
    content: '●';
    color: white;
    margin-right: 8px;
  }
h2{
    color: #000000;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 1.3;/*行高*/
  background: #cdfdd4;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
}
h3{
    border-bottom: dotted;
}
body{
    background-color: aliceblue;
}

