h1{
    text-align: center;
  padding: 0.7em;
  color: #010101;
  content: "";
  display: block;
  height: 22px;
  background: -webkit-linear-gradient(to right, rgb(148, 255, 115), #f1fd3f);
  background: linear-gradient(to right, rgb(166, 255, 115), #fdf46d);
  border-bottom: solid 3px #15a846;
}
h2:before {
    content: '●';
    color: white;
    margin-right: 8px;
  }
h2{
    color: #000000;
  padding: 0.5em;
  display: inline-block;
  line-height: 1.3;
  background: #cdfdd4;
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;
}
h4:before {
    content: '●';
    color: white;
    margin-right: 8px;
  }
h4{
    color: #000000;
  padding: 0.5em;
  display: inline-block;
  line-height: 1.3;
  background: #cdfdd4;
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;
}
h3{
    position: relative;
    padding: 1em 0;
}
h3{
    text-align: center;
    content: "";
    display: block;
    height: 7px;
    background: -webkit-linear-gradient(to right, rgb(148, 255, 115), #f1fd3f);
    background: linear-gradient(to right, rgb(166, 255, 115), #fdf46d);
    border-bottom: solid 3px #15a846;
}
body{
    background-color: aliceblue;
}

