h1{
  padding: 0.5em;
  color: #010101;
  background: #cdfdd4;
  border-bottom: solid 3px #15a846;
}
h2{
    color: rgb(4, 128, 41);
    border-bottom: solid;
}
h3{
    border-bottom: dotted;
}
body{
    background-color: rgb(240, 247, 184);
}

