h1{
    background-color: rgb(31, 231, 91);
    border:4mm ridge rgba(52, 187, 39, 0.6);
}
h2{
    color: rgb(4, 128, 41);
    border-bottom:2px dotted;
}
body{
    background-color: rgb(205, 247, 218);
}

